
*,
*::before
*::after{
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.7;
  text-align: center;
  margin: 0px;
  color: darkslategray;
}

header{
  text-shadow: 2px 1px whitesmoke;
  animation: animPhoto 3s 0s ease-in;
}

main{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
  background-color: azure;
}

aside {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  width: 400px;
  height: 400px;
  padding: 5%;
  margin: 2%;
  border-radius: 10px;
  background-color: whitesmoke;
}

footer {
  background-color: lightgreen;
}

img{
  background-color: aliceblue;
  border-radius: 30%;
  max-height: 300px;
}

nav {
  margin-bottom: 10%;
}

/* <-- --> */
nav div {
  margin-top: 10%;
}


h3, h2{
  background-color: lightgreen;
  text-align: center;
}

nav h3{
  background-color: lightgreen;
  border-radius: 10%;
  text-align: center;
  animation: animWelcome 1s 0s ease-out;
}

/* <-- --> */
.info ul{
  color: gray;
  font-size: 1.25rem;
  margin-bottom: 30%;
  padding-bottom: 30px;
  list-style: none;
}

* img:hover{
  box-shadow: 4px -4px 15px lightgreen; 
}

.info ul li:hover{
  background-color: lightgreen;
  color: darkslategray;
}

@keyframes animPhoto{
  from{
    clip-path: inset(0% 100%);
  }
  to{
    clip-path: inset(0% 0%);
  }
}

@keyframes animWelcome{
  from{
    transform: translateY(100px);
  }
  to{
    transform: translateY(0px);
  }
} 